{% extends 'admin/layouts/app.html.twig' %}


{% block title %}Reversements
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}

			<div class="iq-card">
				<div class="iq-card-header d-flex justify-content-between">
					<div class="iq-header-title">
						<h4 class="card-title">Liste des Réversements ({{reversements|length}})</h4>
					</div>
				</div>
				<div class="iq-card-body">
					<div class="table-responsive">
						<div class="row justify-content-between">
							<div class="col-sm-12 col-md-6">
								<div id="user_list_datatable_info" class="dataTables_filter">
									<form class="mr-3 position-relative">
										<div class="form-group mb-0">
											<input type="search" class="form-control" id="exampleInputSearch" placeholder="Search" aria-controls="user-list-table">
										</div>
									</form>
								</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="user-list-files d-flex float-right">
									<a class="iq-bg-primary" href="javascript:void();">
										Print
									</a>
									<a class="iq-bg-primary" href="javascript:void();">
										Excel
									</a>
									<a class="iq-bg-primary" href="javascript:void();">
										Pdf
									</a>
								</div>
							</div>
						</div>
						<table id="user-list-table" class="table table-striped table-bordered mt-4" role="grid" aria-describedby="user-list-page-info">
							<thead>
								<tr>
									<th>ID</th>
									<th>Marchand</th>
									<th>Réversant</th>
									<th>Montant Reversé</th>
									<th>Date de réversement</th>
									<th>Statut</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% if reversements %}
									{% for reversement in reversements %}
										<tr>
											<td>{{ reversement.id }}</td>
											<td>{{ reversement.marchand.firstName }} {{ reversement.marchand.lastName }}</td>
											<td>{{ reversement.reversant }}</td>
											<td>{{ reversement.montantReverse }}</td>
											<td>{{ reversement.dateReversement|date('Y-m-d') }}</td>
											<td>
												{% if reversement.statut == "Succès" %}
													<span class="badge iq-bg-success">Succès</span>
												{% elseif reversement.statut == "Echec"  %}
													<span class="badge iq-bg-success">Echec</span>
												{% else %}
													<span class="badge iq-bg-danger">En attente</span>
												{% endif %}
											</td>
											<td>
												<div class="d-flex align-items-center list-user-action">
													{% if "ROLE_ADMIN" in app.user.roles %}
														<a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#">
															<i class="ri-pencil-line"></i>
														</a>
														<a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#">

															<i class="ri-delete-bin-line"></i>
														</a>
														{% else %}
															N/A
													{% endif %}
												</div>
											</td>
										</tr>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<p>Aucun Reversement trouvé</p>
						{% endif %}
					</tbody>
				</table>
			</div>
			<div class="row justify-content-between mt-3">
				<div id="user-list-page-info" class="col-md-6">
					<span>Showing 1 to 5 of 5 entries</span>
				</div>
				<div class="col-md-6">
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end mb-0">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true">précédent</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">Suivant</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
