<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Server360 - Connexion</title>
		<!-- Favicon -->
		<link
		rel="shortcut icon" href="{{asset('images/favicon.ico')}}"/>
		<!-- Bootstrap CSS -->
		<link
		rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
		<!-- Typography CSS -->
		<link
		rel="stylesheet" href="{{asset('css/typography.css')}}">
		<!-- Style CSS -->
		<link
		rel="stylesheet" href="{{asset('css/style.css')}}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{{asset('css/responsive.css')}}">
	</head>
	<body>
		<!-- loader Start -->
		<div id="loading">
			<div id="loading-center"></div>
		</div>
		<!-- loader END -->
		<!-- Sign in Start -->
		<section class="sign-in-page">
			<div class="container p-0" id="sign-in-page-box">
				<div class="bg-white form-container sign-up-container">
					<div class="sign-in-page-data">
						<div class="sign-in-from w-100 m-auto">
							<h1 class="mb-3 text-center">Sign Up</h1>
							<p class="text-center text-dark">Enter your email address and password to access admin panel.</p>
							<form class="mt-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Your Full Name</label>
									<input type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Your Full Name">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail2">Email address</label>
									<input type="email" class="form-control mb-0" id="exampleInputEmail2" placeholder="Enter email">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
									<input type="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
								</div>
								<div class="d-inline-block w-100">
									<div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">I accept
											<a href="#">Terms and Conditions</a>
										</label>
									</div>
								</div>
								<div class="sign-info">
									<button type="submit" class="btn btn-primary mb-2">Sign Up</button>
									<span class="text-dark d-block line-height-2">Already Have Account ?
										<a href="#">Log In</a>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="bg-white form-container sign-in-container">
					<div class="sign-in-page-data">
						<div class="sign-in-from w-100 m-auto">
							<h1 class="mb-3 text-center">Connexion</h1>
							<p class="text-center text-dark">Enter your email address and password to access admin panel.</p>
							{% for message in app.flashes('success') %}
								<div class="alert alert-success">
									{{ message }}
								</div>
							{% endfor %}

							{% if error %}
								<div class="alert alert-primary">
									<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								</div>
							{% endif %}

							<form class="mt-4" action="{{path('security.login')}}" method="POST">

								<div class="form-group">
									<label for="exampleInputEmail2">Adresse Email</label>
									<input type="email" class="form-control mb-0" id="username" name="_username" value="{{ last_username }}" placeholder="Entrer votre adresse email">

								</div>
								<div class="form-group">
									<label for="exampleInputPassword2">Mot de passe</label>
									<a href="#" class="float-right">Mot de passe oublié?</a>
									<input type="password" class="form-control mb-0" id="password" name="_password" placeholder="Mot de passe">

								</div>
								<div class="d-inline-block w-100">
									<div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
										<input type="checkbox" class="custom-control-input" id="customCheck2">
										<label class="custom-control-label" for="customCheck1">Se souvenir de moi</label>
									</div>
								</div>
								<div class="sign-info">
									<button type="submit" class="btn btn-primary mb-2">Connexion</button>
									<span class="text-dark dark-color d-block line-height-2">Pas de compte?
										<a href="#">S'inscrire</a>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="overlay-container">
					<div class="overlay">
						<div class="overlay-panel overlay-left">
							<a class="sign-in-logo mb-5" href="#"><img src="{{asset('images/logo-full.png')}}" class="img-fluid" alt="logo"></a>
							<p>To Keep connected with us please login with your personal info</p>
							<button class="btn iq-border-primary mt-2" id="signIn">Sign In</button>
						</div>
						<div class="overlay-panel overlay-right">
							<a class="sign-in-logo mb-5" href="#"><img src="images/logo-full.png" class="img-fluid" alt="logo"></a>
							<p>Enter your personal details and start journey with us</p>
							<button class="btn iq-border-primary mt-2" id="signUp">Sign Up</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Sign in END -->
		<!-- color-customizer -->
		<div class="iq-colorbox color-fix">
			<div class="buy-button">
				<a class="color-full" href="#">
					<i class="fa fa-spinner fa-spin"></i>
				</a>
			</div>
			<div class="clearfix color-picker">
				<h3 class="iq-font-black">Server360 Awesome Color</h3>
				<p>This color combo available inside whole template. You can change on your wish, Even you can create your own with limitless possibilities!
				</p>
				<ul class="iq-colorselect clearfix">
					<li class="color-1 iq-colormark" data-style="color-1"></li>
					<li class="color-2" data-style="iq-color-2"></li>
					<li class="color-3" data-style="iq-color-3"></li>
					<li class="color-4" data-style="iq-color-4"></li>
					<li class="color-5" data-style="iq-color-5"></li>
					<li class="color-6" data-style="iq-color-6"></li>
					<li class="color-7" data-style="iq-color-7"></li>
					<li class="color-8" data-style="iq-color-8"></li>
					<li class="color-9" data-style="iq-color-9"></li>
					<li class="color-10" data-style="iq-color-10"></li>
					<li class="color-11" data-style="iq-color-11"></li>
					<li class="color-12" data-style="iq-color-12"></li>
					<li class="color-13" data-style="iq-color-13"></li>
					<li class="color-14" data-style="iq-color-14"></li>
					<li class="color-15" data-style="iq-color-15"></li>
					<li class="color-16" data-style="iq-color-16"></li>
					<li class="color-17" data-style="iq-color-17"></li>
					<li class="color-18" data-style="iq-color-18"></li>
					<li class="color-19" data-style="iq-color-19"></li>
					<li class="color-20" data-style="iq-color-20"></li>
				</ul>
				<a target="_blank" class="btn btn-primary d-block mt-3" href="">Purchase Now</a>
			</div>
		</div>
		<!-- color-customizer END -->
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS --><script src="{{asset('js/jquery.min.js')}}"> </script>
		<script src="{{asset('js/popper.min.js')}}"></script>
		<script src="{{asset('js/bootstrap.min.js')}}"></script>
		<!-- Appear JavaScript -->
		<script src="{{asset('js/jquery.appear.js')}}"></script>
		<!-- Countdown JavaScript -->
		<script src="{{asset('js/countdown.min.js')}}"></script>
		<!-- Counterup JavaScript -->
		<script src="{{asset('js/waypoints.min.js')}}"></script>
		<script src="{{asset('js/jquery.counterup.min.js')}}"></script>
		<!-- Wow JavaScript -->
		<script src="{{asset('js/wow.min.js')}}"></script>
		<!-- Apexcharts JavaScript -->
		<script src="{{asset('js/apexcharts.js')}}"></script>
		<!-- Slick JavaScript -->
		<script src="{{asset('js/slick.min.js')}}"></script>
		<!-- Select2 JavaScript -->
		<script src="{{asset('js/select2.min.js')}}"></script>
		<!-- Owl Carousel JavaScript -->
		<script src="{{asset('js/owl.carousel.min.js')}}"></script>
		<!-- Magnific Popup JavaScript -->
		<script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
		<!-- Smooth Scrollbar JavaScript -->
		<script src="{{asset('js/smooth-scrollbar.js')}}"></script>
		<!-- lottie JavaScript -->
		<script src="{{asset('js/lottie.js')}}"></script>
		<!-- am core JavaScript -->
		<script src="{{asset('js/core.js')}}"></script>
		<!-- am charts JavaScript -->
		<script src="{{asset('js/charts.js')}}"></script>
		<!-- am animated JavaScript -->
		<script src="{{asset('js/animated.js')}}"></script>
		<!-- am kelly JavaScript -->
		<script src="{{asset('js/kelly.js')}}"></script>
		<!-- am maps JavaScript -->
		<script src="{{asset('js/maps.js')}}"></script>
		<!-- am worldLow JavaScript -->
		<script src="{{asset('js/worldLow.js')}}"></script>
		<!-- Raphael-min JavaScript -->
		<script src="{{asset('js/raphael-min.js')}}"></script>
		<!-- Morris JavaScript -->
		<script src="{{asset('js/morris.js')}}"></script>
		<!-- Morris min JavaScript -->
		<script src="{{asset('js/morris.min.js')}}"></script>
		<!-- Flatpicker Js -->
		<script src="{{asset('js/flatpickr.js')}}"></script>
		<!-- Style Customizer -->
		<script src="{{asset('js/style-customizer.js')}}"></script>
		<!-- Chart Custom JavaScript -->
		<script src="{{asset('js/chart-custom.js')}}"></script>
		<!-- Custom JavaScript -->
		<script src="{{asset('js/custom.js')}}"></script>

	</body>
</html>
