<div id="sidebar-scrollbar">
	<nav class="iq-sidebar-menu">
		<ul id="iq-sidebar-toggle" class="iq-menu">
			<li class="active active-menu">
				<a href="{{path('app_admin_admin')}}">

					<i class="las la-house-damage"></i>Dashboard</a>

			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
						<span class="ripple rippleEffect"></span>
						<i class="las la-user-tie iq-arrow-left"></i>
						<span>Utilisateurs</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>
					</a>
					<ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
						<li>
							<a href="{{path('app_admin_user_add')}}">
								<i class="las la-plus-circle"></i>Ajouter utilisateur</a>
						</li>
						<li>
							<a href="{{path('app_admin_user')}}">
								<i class="las la-th-list"></i>Liste des utilisateurs</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#marchand" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
						<span class="ripple rippleEffect"></span>
						<i class="las la-user-tie iq-arrow-left"></i>
						<span>Marchands</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>
					</a>
					<ul id="marchand" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
						<li>
							<a href="{{path('app_admin_user_add')}}">
								<i class="las la-plus-circle"></i>Ajouter marchand</a>
						</li>
						<li>
							<a href="{{path('marchand_index')}}">
								<i class="las la-th-list"></i>Liste des marchands</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#api" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
						<span class="ripple rippleEffect"></span>
						<i class="ri-bi-key"></i>
						<span>API</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>

					</a>
					<ul id="api" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
						<li>
							<a href="{{path('app_admin_api_add')}}">
								<i class="las la-plus-circle"></i>Ajouter API</a>
						</li>
						<li>
							<a href="{{path('api_index')}}">
								<i class="las la-th-list"></i>Liste des APIs</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#a_reversements" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
						<span class="ripple rippleEffect"></span>
						<i class="ri-bi-key"></i>
						<span>Réversements</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>

					</a>
					<ul id="a_reversements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
						<li>
							<a href="{{path('app_admin_api_add')}}">
								<i class="las la-plus-circle"></i>Ajouter réversement</a>
						</li>
						<li>
							<a href="{{path('admin_reversements')}}">
								<i class="las la-th-list"></i>Liste des réversements</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#a_transactions" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
						<span class="ripple rippleEffect"></span>
						<i class="ri-bi-key"></i>
						<span>Transactions</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>

					</a>
					<ul id="a_transactions" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
						<li>
							<a href="{{path('app_admin_api_add')}}">
								<i class="las la-plus-circle"></i>Créer une transaction</a>
						</li>
						<li>
							<a href="{{path('admin_transactions')}}">
								<i class="las la-th-list"></i>Liste des transactions</a>
						</li>
					</ul>
				</li>

			{% else %}
				<li>
					<a href="#api" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
						<span class="ripple rippleEffect"></span>
						<i class="ri-bi-key"></i>
						<span>API</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>

					</a>
					<ul id="api" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
						<li>
							<a href="{{path('api_index')}}">
								<i class="las la-th-list"></i>Liste des APIs</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#transaction" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
						<span class="ripple rippleEffect"></span>
						<i class="ri-code-line"></i>
						<span>Transactions</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>

					</a>
					<ul id="transaction" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
						<li>
							<a href="{{path('marchand_transactions')}}">
								<i class="las la-th-list"></i>Mes transactions</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#reversant" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
						<span class="ripple rippleEffect"></span>
						<i class="ri-code-line"></i>
						<span>Réversements</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>

					</a>
					<ul id="reversant" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
						<li>
							<a href="{{path('marchand_reversements')}}">
								<i class="las la-th-list"></i>Mes réversements</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{path('marchand_credentials')}}" class="iq-waves-effect">
						<span class="ripple rippleEffect"></span>
						<i class="ri-key-2-line"></i>
						<span>Crédentials</span>
						<i class="ri-arrow-right-s-line iq-arrow-right"></i>

					</a>
				</li>

			{% endif %}
		</ul>
	</nav>
</div>
